

<div class="form-container">
  <h1>Registrarme</h1>
  <form [formGroup]="contactForm" (ngSubmit)="onSaveForm()">
    <input type="text" formControlName="name" placeholder="Ingrese su nombre">
    <div class="alert-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
      <div class="container-error-message" *ngIf="name.errors.required">
        El nombre es requerido.*
      </div>
      <div class="container-error-message" *ngIf="name.errors.minlength">
        El nombre debe tener al menos 5 caracteres de longitud.*
      </div>
    </div>

    <input type="text" formControlName="email" placeholder="Ingrese su email">

    <div class="alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
      <div class="container-error-message" *ngIf="email.errors.required">
        El email es requerido.*
      </div>
      <div class="container-error-message" *ngIf="email.errors.minlength">
          El email debe tener al menos 5 caracteres de longitud.*
      </div>
      <div class="container-error-message" *ngIf="(email.dirty || email.touched) && email.invalid && email.errors.pattern">
        La dirección de correo elecronico no es valida.*
      </div>
    </div>
    

    <input type="text" formControlName="empresa" placeholder="Ingrese empresa">
    <div class="alert-danger" *ngIf="empresa.invalid && (empresa.dirty || empresa.touched)">
        <div class="container-error-message" *ngIf="empresa.errors.required">
          El nombre de la empresa es requerido.*
        </div>
        <div class="container-error-message" *ngIf="empresa.errors.minlength">
          El nombre debe tener al menos 5 caracteres de longitud.*
        </div>
      </div>

      
      <input type="text" formControlName="telefono" placeholder="Ingrese telefono">
      <div class="alert-danger" *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)">
          <div class="container-error-message" *ngIf="telefono.errors.required">
            El teléfono es requerido.*
          </div>
          <div class="container-error-message" *ngIf="telefono.errors.minlength">
            El numero  debe tener al menos 8 caracteres de longitud.*
          </div>
        </div>
        
    <button type="submit" class="btn-send" [disabled]="!contactForm.valid">Enviar</button>
  </form>
</div>

<div class="alert alert-success alert-dismissible fade show" *ngIf="alerte">
  <strong>Success!</strong> Tu registro ha sido enviado exitosamente.
  <button type="button" class="close" data-dismiss="alert">&times;</button>



