
<div style="text-align: center;">
  <app-header></app-header>
</div>

<div class="container text-center pb-5">
          <div class="row pb-sm-0 my-5">
            <div class="col-lg-8 col-md-10 mx-auto">
              <contactForm></contactForm>
              <app-footer></app-footer>
            
            </div>
            </div>
          </div>
        


<footer class="footer">
<div class="aling-center">
    <a title="prides" href="http://www.prides.net/"><img src="/assets/images/grupoprides.png"  alt="prides" /></a>
    <a title="prides" href="https://www.masterpago.com/"><img src="/assets/images/Logo-Master-Pago-Transparente.png" width="350px"  alt="prides" /></a>
  </div>
</footer>


