
<div style="text-align: center;">
  <app-header></app-header>
  
</div>


<div class="container text-center pb-5">
          <div class="row pb-sm-0 my-5">
            <div class="col-lg-8 col-md-10 mx-auto">
              <contactForm></contactForm>
             <!-- <app-footer></app-footer>-->
                

            </div>
            </div>
          </div>
        
          <div class="container" style="text-align: center;">
            <div class="aling-center">
                <p> © Copyright Grupo Prides 2019. </p>
              </div>
            </div>

<!--<footer class="footer">
  <div class="container" style="text-align: center;">
<div class="aling-center">
    <a title="prides" href="http://www.prides.net/"><img src="/assets/images/grupoprides.png" class="grande" alt="prides" /></a>
    <a title="prides" href="https://www.masterpago.com/"><img src="/assets/images/Logo-Master-Pago-Transparente.png" class="mediana"  alt="prides" /></a>
  </div>
</div>
</footer>-->


